packages: [
  "atom-clock"
  "atom-python-virtualenv"
  "atom-terminal"
  "autocomplete-python"
  "battery-status"
  "calc"
  "darkpython-syntax"
  "git-plus"
  "local-history"
  "material-monokai-syntax"
  "minimap"
  "open-terminal-here"
  "package-sync"
  "platformio-ide-terminal"
  "python-autopep8"
  "remote-atom"
  "remote-edit-ni"
  "script"
  "seti-ui"
]
